<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Learn the Angular</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		
		<!-- PurchaseCtr 
		======================== -->
		<div ng-controller="PurchaseCtr" class="an-group">
			<div class="page-header">
				<h1> Список покупок</h1>
			</div>
			<div class="panel">
				<div class="form-inline">
					<div class="form-group">
						<div class="col-md-8">
							<input class="form-control" ng-model="text" placeholder = "Название" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<input type="number" class="form-control" ng-model="price" placeholder="Цена" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Предмет</th>
							<th>Цена</th>
							<th>Куплено</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list.items">
							<td>{{item.purchase}}</td>
							<td>{{item.price}}</td>
							<td><input type="checkbox" ng-model="item.done" /></td>
						</tr>  
					</tbody>
				</table>
			</div>	
		</div>

		<!-- PhoneCtr 
		======================== -->
		<div ng-controller="PhoneCtr">
			<p>Название: <strong>{{phone.name}}</strong></p>
			<p>Цена: {{phone.price}} $</p>
			<p>Производитель: {{phone.company.name}}</p>
		</div>
		<div ng-controller="PhoneCtr" class="an-group">
			<p>Производитель: {{phone.company.country}}
			</p>
		</div>

		<!-- TextCtr 
		======================== -->
		<div ng-controller="TextCtr as text" class="an-group">
			<h3>{{text.message}}</h3>
			<p>{{text.text}}</p>
		</div>




		<!-- SCRIPT -->
		<script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>
</html>