<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Learn the Angular</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		
		<!-- PurchaseCtr 
		======================== -->
		<div ng-controller="PurchaseCtr" class="an-group">
			<div class="page-header">
				<h1> Список покупок</h1>
			</div>
			<div class="panel">
				<div class="form-inline">
					<div class="form-group">
						<div class="col-md-8">
							<input class="form-control" ng-model="text" placeholder = "Название" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<input type="number" class="form-control" ng-model="price" placeholder="Цена" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Предмет</th>
							<th>Цена</th>
							<th>Куплено</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list.items">
							<td>{{item.purchase}}</td>
							<td>{{item.price}}</td>
							<td><input type="checkbox" ng-model="item.done" /></td>
						</tr>  
					</tbody>
				</table>
			</div>	
		</div>

		<!-- PhoneCtr 
		======================== -->
		<div ng-controller="PhoneCtr">
			<p>Название: <strong>{{phone.name}}</strong></p>
			<p>Цена: {{phone.price}} $</p>
			<p>Производитель: {{phone.company.name}}</p>
		</div>
		<div ng-controller="PhoneCtr" class="an-group">
			<p>Производитель: {{phone.company.country}}
			</p>
		</div>

		<!-- TextCtr 
		======================== -->
		<div ng-controller="TextCtr as text" class="an-group">
			<h3>{{text.message}}</h3>
			<p>{{text.text}}</p>
		</div>
		
		<!-- $rootScope 
		======================== -->
		<div class="an-group">
			<p>Модуль: {{ moduleName }}</p>
			<p>Сообщение: {{ message }}</p>
		</div>
		
		<!-- PhoneListCtr 
		======================== -->
		<div ng-controller="PhoneListCtr" class="an-group">
			<ul class="list">
				<li ng-repeat="phone in phones"  ng-class="$odd ? 'odd' : 'even'">
					<p><b>{{$index + 1}}. Наименование:</b> {{phone.name}}</p>
					<p><b>Цена:</b> {{phone.price}}</p>
					<p><b>Производитель:</b> {{phone.company.name}}</p>
				</li>
			</ul>
		</div> 

		<!-- MilkCtr 
		======================== -->
		<div ng-controller="MilkCtr" class="an-group">
			<ul class="list">
				<li ng-repeat="milk in milks">
					<p ng-bind="milk.name"></p>
					<p><input type="text" ng-model="milk.year"></p>
					<p ng-bind="milk.year"></p>
					<p ng-bind-template="{{milk.name}} : {{milk.price}} $"></p>
					<p>{{1 + 2}}</p>
					<p ng-non-bindable>{{1 + 2}}</p>
					<p ng-bind-html="milk.expression"></p>
				</li>
			</ul>
		</div>
		
		<!-- PhonesTabletsCtr 
		======================== -->
		<div ng-controller="PhonesTabletsCtr" class="an-group">
			<div ng-repeat="mode in modes">
				<label>
					<input type="radio" ng-model="data.mode" name="modes" value="{{mode.value}}" ng-init="$first ? (data.mode = mode.value) : ''" >
						{{mode.label}}
				</label>			
			</div>
			<ng-include src="setFile()"></ng-include>
		</div>

		<!-- PhonesTabletsSwitchCtr 
		======================== -->
		<div ng-controller="PhonesTabletsSwitchCtr" class="an-group">

			
			<div ng-style="somestyle">Директива ng-style</div>
			<div ng-class="someclass">Директива ng-class</div>


			<p ng-show="app.visible">Первый блок</p>
			<p ng-show="app.visible">Второй блок</p>
			<label>
				<input type="checkbox" ng-model="app.visible">
				<span ng-hide="app.visible">Открыть</span>
				<span ng-show="app.visible">Скрыть</span>
			</label>

			<div>
				<input type="checkbox" ng-model="app2.visible">Открыть/скрыть
				<p ng-if="app2.visible">Первый блок</p>
				<p ng-if="!app2.visible">Второй блок</p>
			</div>



			<div ng-repeat="mode in modes">
				<label>
					<input type="radio" ng-model="data.mode" name="modes" value="{{mode.value}}">
					{{mode.label}}
				</label>			
			</div>
			<div ng-switch on="data.mode">
				<div ng-switch-when="Tablets">
					<ul>
						<li ng-repeat="tablet in tablets">
							<b>{{tablet.name}}</b>
							<p>Цена: {{tablet.price}} $</p>
							<p>Производитель: {{tablet.company.name}}</p>
						</li>
					</ul>
				</div>
				<div ng-switch-when="Phones">
					<ul>
						<li ng-repeat="phone in phones">
							<b>{{phone.name}}</b>
							<p>Цена: {{phone.price}} $</p>
							<p>Производитель: {{phone.company.name}}</p>
						</li>
					</ul>
				</div>
				<div ng-switch-default>
					<p>Выберите товары для просмотра</p>
				</div>
			</div>
		</div>

		<!-- QuestionCtr 
		======================== -->
		<div ng-controller="QuestionCtr" class="an-group">
			<div class="quest" ng-class="questColorClass"
			ng-mouseenter="changeClass($event)"
			ng-mouseleave="changeClass($event)">
			<h3>{{question.text}}</h3>
			<p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
			</div>
			<h3>Ответы</h3>
			<div class="answers">
				<div ng-repeat="answer in question.answers" class="answer">
					<div class="vote">
						<a class="vote-up" ng-click="voteUp(answer)"></a>
						<span class="rate">{{answer.rate}}</span>
						<a class="vote-down" ng-click="voteDown(answer)"></a>
					</div>
					<b>{{answer.text}}</b>
					<p>{{answer.author}}</p>
					<p><i>{{answer.date}}</i></p>
				</div>
			</div>
		</div>

		<div ng-controller="QuestionCtr" class="an-group">
			<p>answer.author = <span>{{answer.author}}</span></p>
			<select ng-model="answer.author" class="sss">
				<option ng-repeat="answer in question.answers" >{{answer.author}}</option>
			</select>
			<select>
				<option ng-repeat="selected_answer in question.answers | filter:answer">{{selected_answer.date}}</option>
			</select>
		</div>

		<!-- QuestionSearchCtr 
		======================== -->
		<div  ng-controller="QuestionSearchCtr" class="an-group">
			<div class="quest">
				<h3>{{question.text}}</h3>
				<p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
			</div>
			<h3>Ответы</h3>
			<div class="answers">
				<div ng-repeat="answer in question.answers" class="answer">
					<div class="vote">
						<a class="vote-up" ng-click="voteUp(answer)"></a>
						<span class="rate">{{answer.rate}}</span>
						<a class="vote-down" ng-click="voteDown(answer)"></a>
					</div>
					<b>{{answer.text | formatText}}</b>
					<p>{{answer.author}}</p>
					<p><i>{{answer.date}}</i></p>
				</div>
			</div>
		</div>

		<!-- AnswerCtr 
		======================== -->
		<div ng-controller="AnswerCtr" class="an-group">
			<form name="answerForm">
				<fieldset>
					<p><label for="answerText">Текст ответа</label>
						<input id="answerText" ng-model="answer.text" required placeholder="Введите ответ" /></p>
						<p><label for="answerAuthor">Автор ответа</label>
							<input id="answerAuthor" ng-model="answer.author" required placeholder="Введите автора" /></p>
							<p><label for="answerDate">Дата ответа</label>
								<input id="answerDate" ng-model="answer.date" required  ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Введите дату" /></p>
							</fieldset>
							<button type="submit" ng-click="save(answer, answerForm)">Сохранить</button>
						</form>
					</div>

		<!-- AnswerListCtr 
		======================== -->
		<div ng-controller="AnswerListCtr">
			<div class="quest">
				<h3>{{question.text}}</h3>
				<p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
			</div>
			<h3>Ответы</h3>
			<div answer-list="question"></div>
		</div>









		<!-- SCRIPT -->
		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>
</html>